#right-column
	ul.activities
		background-color: $background-color
		margin: 0
		padding: 0
		list-style-type: none

.block
	width: 100%
	border-style: solid
	border-width: 1px
	border-color: #333
	border-radius: 5px
	background-color: #31AEE2
	box-sizing: border-box

	padding-left: 10px
	color: #fff


	#activity-name-input
		height: 36px
		line-height: 36px

	// ::placeholder
	// 	color: rgba(255,255,255,0.9)
	// 	// -webkit-text-stroke: 1px rgba(255,255,255,0.5)


