#chart-container
	width: 100%

	svg
		background-color: $background-color

		#circle-container
			circle
				fill: #53BDE7
				stroke: #333
				stroke-width: 2
				cursor: move

		#line-container
			line
				stroke: #bbb
				stroke-width: 1

		#path-container
			path
				stroke: #31AEE2
				stroke-width: 2
				fill: none

		#axis-container
			cursor: crosshair
			path
				stroke-width: 2
				fill: none

			path, line
				stroke: #bbb



		text
			fill: #fff