#chart-container
	width: 100%

	svg
		background-color: $background-color

		#svg-background
			cursor: cell

		#circle-container
			circle
				fill: #fff
				stroke: #333
				stroke-width: 2
				cursor: move

		#line-container
			line
				stroke: #bbb
				stroke-width: 1

			rect
				fill: #AE7DCE
				stroke: #555

			text
				alignment-baseline: middle

			rect, text
				cursor: text



		#now-line-container
			line
				stroke: #555

		#path-container
			path
				stroke: #31AEE2
				stroke-width: 2
				fill: none

		#axis-container
			cursor: crosshair
			path
				stroke-width: 2
				fill: none

			path, line
				stroke: #bbb

			rect
				fill: #555



		text
			fill: #fff